*{padding: 0;margin:0;text-decoration: none;box-sizing: border-box;}
.container{width:1360px;overflow: auto;margin:0 auto;}
.foot{margin-top:50px;background-color: #eee;text-align: center;padding:30px 0;}
.foot p{font-size:14px;line-height: 30px;}
.foot p a{color:#000;text-decoration: underline;}
.head{height:60px;background-color: #96b97d;min-width: 1360px;overflow: hidden;}
.logo{padding-top: 10px;width:160px;text-align: center;margin-left:10px;float:left}
.add-text{font-size:30px;line-height: 25px; color:#fff;letter-spacing: -2px;}
.editor-text{font-size:16px;color:#fff;line-height: 20px;letter-spacing: 1px;}

.nav{float: left;line-height: 60px;height: 60px;margin-left: 60px;}
.nav a{color:#fff;font-size:22px;margin-left:30px}
.nav a.now{border-bottom:2px solid #fff}

@-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    45% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 0.7; }
    80% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; } }
  @keyframes scale {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    45% {
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
      opacity: 0.7; }
    80% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; } }

.ball-pulse > div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); 
}

.ball-pulse > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); 
}

.ball-pulse > div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block; 
}
.loading-cover{position: absolute;width:100%;height: 100%;background-color: #96b97d;z-index: 999;}
.loading{width:300px;text-align: center;margin:0 auto;margin-top:300px}
.loader{margin-top:10px}
.loading .big-text{font-size:50px;; color:#fff;letter-spacing: -3px;line-height: 1;}
.loading .small-text{font-size:30px;color:#fff;line-height: 0.8;}

.content{overflow: hidden;margin-top:10px;}
.left{width:200px;float:left;height:600px;border:1px solid #ccc;margin-left:15px;display: none;}
.main{width:1350px;margin:0 auto;overflow: hidden;}

.editor-container{float:left;width:1350px;overflow: hidden;}
.help{border:1px solid #ccc;float:left;width:675px;height:600px;border-radius: 5px;overflow: hidden;margin-left:10px}

.input{width:664px;border-radius: 5px; border:1px solid #ccc;float:left;}
.input-title{height:30px;line-height:30px;padding-left:10px;background-color: #ccc;width:663px;border-top-right-radius: 5px;border-top-left-radius: 5px;}


.output{margin-top:10px;border:1px solid #ccc;border-radius: 5px;width:1350px;float: left;}
.output .output-title{height:30px;line-height:30px;padding-left:10px;background-color: #ccc;width:1349px;border-top-right-radius: 5px;border-top-left-radius: 5px;}
.output .output-zone{float:right;height: 30px;padding-right: 15px;text-align: right;position: relative;}
.output .output-zone span{height: 30px;line-height: 30px;display: block;float:right;}
.output .output-zone .font-size{width:30px;border:none;outline: none;text-align: center;float:right;height: 20px;margin-top: 5px;}
.output-zone .zone-title{font-size: 13px;line-height: 30px;}
.output-zone .save-as{border:none;outline: none;margin-right: 15px;background-color: #fff;margin-top:3px;padding:4px 5px;cursor: pointer;}
.output-zone .saveimg{display:none;position: absolute;width:101px;left:-1px;top:-60px;background-color:#fff;text-align: center;border:1px solid #96b97d;}
.output-zone .saveimg div{cursor: pointer;}
.output-zone .saveimg div:hover{background-color:#96b97d ;}
.output-zone .saveimg .save-as-png{border-bottom:1px solid #ccc;}


.size-minus{cursor: pointer;font-size: 32px;padding:0 5px;background-color: #ccc;border: none;outline: none;float:right;height: 27px;line-height: 27px;}
.size-add{cursor: pointer;font-size: 20px;padding:0 5px;background-color: #ccc;border: none;outline: none;float:right;height: 30px;line-height: 30px;}
.show{width:1350px;height: 500px;font-size:30px;overflow:auto;}

.type-list{overflow: hidden;border-bottom:2px solid #96b97d;padding-bottom:8px}
.type-box{ padding:5px ; width:46px;font-size:12px;text-align: center;height: 40px;float: left;background-color: #fff;margin-left:8px;margin-top:8px;border:2px solid #ddd}
.type-box:hover{border-color:#96b97d;cursor: pointer;}
.type-box img{width:30px;height:30px}

.help-content{height:492px;overflow: auto;}

.help-content t{float:left;cursor:pointer; display: block;background-color: #eee;font-size:25px;min-width: 35px;min-height: 35px;text-align: center;line-height: 35px;padding-top:9px;margin-left:5px;border-radius: 5px;}
.help-content t:hover{background-color:#96b97d ;}
.help-content .catagory .block{overflow: hidden;padding-top: 15px;padding-bottom:5px;border-bottom:1px solid #ccc;}
.help-content .catagory .block t{margin-bottom:10px;}
.help-content .catagory .bblock t{padding-bottom:5px;margin-left:10px;padding-left:5px;padding-right: 5px;}
.help-content .catagory .zero-margin mjx-container{margin-top:0;margin-bottom: 0;}
.clear{clear: both;}
.help-content .block-info{margin-bottom:8px;padding-left:12px}
.help-content .block-info input{height:25px;line-height: 25px;outline: #96b97d;border:1px solid #999;padding-left:2px;width:80px;text-align: center;font-size:15px;border-radius: 4px;}

.head-function{float:right;margin-right: 15px;}
.head-function span{background-color:#fff;padding:2px 5px;border-radius: 3px;cursor: pointer;font-size: 14px;margin-left: 5px;}
.head-function span:hover{background-color: #96b97d;color:#fff;}



.latex-editor{position:relative;z-index:1;border:1px solid #ccc;}
.latex-editor .base{white-space: nowrap; font-weight: 400; font-family: "Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace";padding:10px;padding-top:10px; font-size:18px;outline:none;background-color:rgba(255,255,255,0)}
.latex-editor textarea{width:100%;height:100%;border:none; resize: none;position:absolute ; z-index:2;top:0;left:0;color:rgba(0,0,0,0);caret-color:#000;text-decoration: none; font-weight: 400; font-family: "Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace"}
.latex-editor .latex-show{width:100%;height:100%;position:absolute ; z-index:1;top:0;left:0;overflow-y: auto; overflow-x: auto; }

.latex-editor .token_blackslash{color:#333} 
.latex-editor .not_backslash{color:#ff9d0c} 
.latex-editor .backslash{color:#333}          
.latex-editor .bracket0{color:#ef29d4}
.latex-editor .bracket1{color:#109927}
.latex-editor .bracket2{color:#ff9d0c}
.latex-editor .not_bracket{color:#ff0000}     
.latex-editor .sign{color: #109927;}          
.latex-editor .num{color:#000}
.latex-editor .block_token{color: #c24d17;}
.latex-editor .token{color:#666}
.latex-editor .character{color:#c24d17}


.latex-editor .tips{position:absolute;top:-1000px;left:-1000px;width:300px;height:200px;border:1px solid #ccc;background-color:#fff;z-index:3;overflow-y: scroll;}
.latex-editor .tip-line{padding-left:5px;padding-top:2px;padding-bottom: 2px;line-height: 30px;cursor: pointer;}
.latex-editor .tips .now{background-color:#acd4fd;color:#333;}
.latex-editor .tip-name{display: inline-block;}
.latex-editor .tip-name .token{color:#f70000}
.latex-editor .tip-img{float:right;height:30px;justify-content: center;display: flex;align-items: center;flex-direction: column;margin-right:15px;color:#666;font-size:16px;}


#editor{width:664px;height:570px;}
#show-content{padding-bottom:30px;padding-top:30px;min-height: 400px;}

.tutorial{overflow: hidden;}
.text-green{color:#109927}
.text-red{color:#fb0202}

.height100{height: 100px !important;}

.t-left{float:left;width:220px;background-color:#eaf5e2;min-height: 1000px;padding-left:10px;padding-top:100px;}
.t-left a{color:#000;font-size: 20px;}
.t-left a:hover{color:#109927;}
.t-right{float:left;width:1130px;padding-left:50px;padding-top:30px;}
.t-right h1{text-align: left;font-size:32px;border-bottom:1px solid #ccc;padding-bottom:10px;padding-left: 10px;}
.t-right .t-content{margin-top:20px;margin-bottom: 10px;font-size: 18px;color:#444;padding-left:10px}
.t-right code{background-color: #eee;padding:5px 5px;color:#fb0202}
.t-right l{background-color: #eee;padding:2px 8px;}
.t-right .title1{font-size:24px;margin-bottom:20px;font-weight: bold;margin-top:100px}
.t-right .title2{font-size:20px;margin-bottom:5px;font-weight: bold;}
.t-right p{line-height: 1.85;margin-bottom:30px}
.t-editor{height: 160px;margin-bottom:15px}
.t-editor .t-code{width:510px;height:160px;float: left;}
.t-editor .t-show{width:510px;height:160px;float: left;border:1px solid #ccc;margin-left:15px;overflow: auto;}


.t-editor-small{height: 120px;}
.t-editor-small .t-code{height: 120px;}
.t-editor-small .t-show{height: 120px;}

.t-editor-large{height: 200px;}
.t-editor-large .t-code{height: 200px;}
.t-editor-large .t-show{height: 200px;}

.t-editor-largeX{height: 250px;}
.t-editor-largeX .t-code{height: 250px;}
.t-editor-largeX .t-show{height: 250px;}